<!doctype html>
<html lang="en" dir="rtl">
  <head>
<meta charset="utf-8">
  <title>Aryeh's</title>
  <link rel="apple-touch-icon" sizes="180x180" href="../static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/img/favicon-16x16.png">
  <link rel="manifest" href="../static/img/site.webmanifest">
  <link rel="mask-icon" href="../static/img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {%block style%}





  {%endblock%}
  <!-- styling with css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
  </head>


  <body dir="rtl" style="background: linear-gradient(to bottom, #33ccff 32%, #ff99cc 90%);">
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light navbar border-bottom border-dark" id="navi" >

   <a class="navbar-brand" href="{{ url_for('index')}}" style="color:  rgb(130, 130, 223);"><img title="icon" alt="icon" src="../static/img/lion.png" width="40px"></a>
   

  

  <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('login')}}" style="color:  rgb(130, 130, 223);"><b> login/register &ensp;</b></a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('contact')}}" style="color:  rgb(130, 130, 223);"><b>contact</b></a>
      </li>
      {% if current_user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('logout')}}">logout</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('personal_space')}}"><b> current_user.name&ensp;</b></a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
{%block content%}





{%endblock%}
</body>

<footer class="container" style="color: rgb(130, 130, 223)">
<p>&copy; Aryeh</p>
</footer>

<!-- Need to have JQuery and Javascript for DropDown Actions to work -->
<script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
 <!-- scripts and more -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{%block scripts%}

{%endblock%}
</html>
