{% extends "base.html" %}
{%block content%}
    <div class="contact-page">
    <h1 style="font-size: 200%; font-variant-caps: normal; color:blue" id="header" class="display-3 text-center">Aryeh</h1>
     <div class="info">
     
        
    
  </div>
</div>
{% endblock %}
        